<section id="explore">

    <h2 class="exploreh">Explore</h2>

    <div class="explorebox">

        <h4 class="arrivals">New Arrivals</h4>

        <div class="arrivalsbox">

            <div class="casebox">
                <img class="case" src="../assets/case.png" alt="image">
                <h6 class="caseh">Rockstar Games iPhone Case</h6>
                <p class="price">9.99$</p>
            </div>

            <div class="casebox">
                <img class="case" src="../assets/keychain.png" alt="image">
                <h6 class="caseh">Rockstar Games Keychain</h6>
                <p class="price">14.99$</p>
            </div>

            <div class="casebox">
                <img class="case" src="../assets/kubrick.png" alt="image">
                <h6 class="caseh">GTA V Kubrick Heist Edition</h6>
                <p class="price">49.95$</p>
            </div>

            <div class="casebox">
                <img class="case" src="../assets/mousepad.png" alt="image">
                <h6 class="caseh">iFruit Mousepad</h6>
                <p class="price">14.95$</p>
            </div>

            <div class="casebox">
                <img class="case" src="../assets/poster.png" alt="image">
                <h6 class="caseh">GTA V Poster</h6>
                <p class="price">19.99$</p>
            </div>

        </div>


        <div class="tunnersbox">

            <div class="tunnerstextbox">
                <h6 class="rockstargames">ROCKSTAR GAMES <span class="presents">Presents</span></h6>
                <p class="gta5">Grand Theft Auto V</p>
                <p class="nowavailable">Los Santos Tunners Is Now Available</p>
            </div>

            <img class="tunners" src="../assets/tunners.png" alt="image">

        </div>

        <h4 class="carsavailable">Cars Available</h4>

        <div class="carbox">

            <div class="gtbox">

                <img class="gt" src="../assets/gt.png" alt="image">
                <h6 class="gth">Benefactor GT</h6>
                <p class="gtp">Purchase Benefactor GT with 25% discount</p>
                <div class="buybox"><a class="buya" href="#">Buy</a></div>

            </div>

            <div class="hijakbox">

                <img class="gt" src="../assets/khamelion.png" alt="image">
                <h6 class="gth">Hijak Khamelion</h6>
                <p class="gtp">Purchase Khamelion with 2 more paintjobs</p>
                <div class="buybox"><a class="buya" href="#">Buy</a></div>

            </div>

            <div class="adderbox">
                
                <img class="gt" src="../assets/adder.png" alt="image">
                <h6 class="gth">Truffade Adder</h6>
                <p class="gtp">Purchase Adder for additional moddifications</p>
                <div class="buybox"><a class="buya" href="#">Buy</a></div>

            </div>

        </div>

        <h4 class="suggested">Suggested Games</h4>

        <div class="gamesbox">

            <div class="gamebox">
                <img class="game" src="../assets/rdr2.png" alt="image">
                <h6 class="rdrh">Red Dead Redemption II</h6>
            </div>

            <div class="gamebox">
                <img class="game" src="../assets/unity.png" alt="image">
                <h6 class="rdrh">Assassin's Creed Unity</h6>
            </div>

            <div class="gamebox">
                <img class="game" src="../assets/farcry.png" alt="image">
                <h6 class="rdrh">Far Cry 5</h6>
            </div>

            <div class="gamebox">
                <img class="game" src="../assets/mafia.png" alt="image">
                <h6 class="rdrh">Mafia II</h6>
            </div>

            <div class="gamebox">
                <img class="game" src="../assets/watchdogs.png" alt="image">
                <h6 class="rdrh">Watch Dogs</h6>
            </div>

        </div>

    </div>

</section>