<section>

    <div class="backgroundbox4">

        <div class="diamondcasinobox">
            
            <div class="fa-gembox">
          
                <i class="fas fa-gem"></i>
                <i class="fas fa-gem"></i>
                <i class="fas fa-gem"></i>

            </div>

            <h3 class="diamondh">The Diamond Casino</h3>

            <div class="fa-gembox">

                <i class="fas fa-gem"></i>
                <i class="fas fa-gem"></i>
                <i class="fas fa-gem"></i>

            </div>

        </div>
        
        <h5 class="choose">Choose Your Approach</h5>

            <div class="approachbox">

                <div class="loudbox">
                    <img class="loud" src="assets/loud.png" alt="image">
                    <h6 class="loudh">Aggresive</h6>
                    <p class="loudp">Focused Entirely On <span class="gunfights">Gunfight</span></p>
                </div>

                <div class="silentbox">
                    <img class="stealth" src="../assets/stealth.png" alt="image">
                    <h6 class="silenth">Silent & Sneaky</h6>
                    <p class="loudp"> Focused On <span class="stealthspan">Stealth</span> Gameplay To Impede Detection From Enemies.</p>
                </div>

                <div class="bigconbox">
                    <img class="bigcon" src="../assets/bigcon.png" alt="image">
                    <h6 class="bigconh">The Big Con</h6>
                    <p class="loudp"> Focused On Usage Of <span class="disguise">Disguises</span> To Sort Enemies Easily.</p>
                </div>

            </div>

            <h4 class="engage">Engage In Activities</h4>

        <div class="bigbox1">

            <div class="smallbox-1">
                <img class="intro" src="../assets/intro.png" alt="image">

                <div class="textbox2">
                    <p class="introp">Pull off the most daring robbery in The <span class="dheist">Diamond Casino Heist</span> - now available in GTA Online.</p>
                    <p class="introp1"> Diamond Casino might be under the questionable management of the Duggans, but business is still booming.</p>
                </div>

            </div>

            <div class="smallbox-2">

                <div class="textbox3">
                    <p class="wheelp">After purchasing a one-off standard casino membership for $500, the player can spin the wheel freely.</p>
                    <p class="wheelp1">in <span class="lucky">Lucky Wheel</span> players can win an assortment of prizes, as there are 20 spots on the wheel. These are: <span class="lucky">RP</span>, <span class="lucky">Cash</span>,<span class="lucky">Chips</span>, with 20% winning chance.</p>
                    </div>

                <img class="wheel" src="../assets/wheel.png" alt="image">

            </div>

        </div>

        <div class="smallbox-3">
            
            <img class="casino" src="../assets/casino.png" alt="image">
            
            <div class="textbox4">

                <h6 class="missionh">New Playable Missions Available</h6>

                    <div class="libox">

                        <div class="li1box">

                            <ul>

                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Badlands Revenge II
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    The Wizard's Ruin
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Race and Chase - Street Legal
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Race and Chase - Crotch Rockets
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Race and Chase - Get Truckin
                                </li>

                            </ul>

                        </div>

                        <div class="li2box">

                            <ul>

                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Shiny Wasabi Kitty Claw
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Nazar Speaks Fortune Teller
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    The Love Professor
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Defender of the Faith
                                </li>
                                <li class="list">
                                    <i class="fas fa-star"></i>
                                    Monkey's Paradise
                                </li>

                            </ul>
                        
                        </div>
                    
                    </div>

            </div>

        </div>

        <h4 class="own">Build Your Own Penthause</h4>

        <div class="buildbox">

                <img class="room" src="../assets/viewroom.png" alt="image">
                <img class="room" src="../assets/movieroom.png" alt="image">
                <img class="room" src="../assets/lobbyroom.png" alt="image">
                <img class="room" src="../assets/bedroom.png" alt="image">
                <img class="room" src="../assets/artroom.png" alt="image">
                <img class="room" src="../assets/slotroom.png" alt="image">

        </div>

    </div>

</section>