@media (max-width: 1273px) {
    
    .relatedbox1 {
        margin-bottom: 40px;
    }

    .relatedbox2 {
        margin-bottom: 50px;
    }

}

@media (max-width: 1254px) {
    
    .loudbox {
        margin-bottom: 50px;
    }

    .silentbox {
        margin-bottom: 50px;
    }

}

@media (max-width: 1200px) {

    .backgroundbox2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .smallbox1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 600px;
        width: 100%;
        padding-bottom: 10px;
    }

    .smallbox2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
        max-width: 600px;
        width: 100%;
        margin-right: 40px;
        padding-bottom: 10px;
    }


    /* Section II */


    .adbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .ps5box {
        margin-bottom: 100px;
    }


    /* Section V */


    .loudbox {
        margin-bottom: 50px;
    }

    .silentbox {
        margin-bottom: 50px;
    }

    .engage {
        text-align: center;
    }

    .bigbox1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .smallbox-1 {
        margin-bottom: 70px;
    }

    .tunnersbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .rockstargames {
        margin-top: 10px;
    }

    .nowavailable {
        margin-bottom: 10px;
    }

    .tunners {
        margin-bottom: 10px;
    }

    .gtbox {
        margin-bottom: 30px;
    }

    .hijakbox {
        margin-bottom: 30px;
    } 

    .buy-gta5 {
        margin-left: 50px;
    }

}

@media (max-width: 854px) {

    .choose {
        text-align: center;
    }
}

@media (max-width: 697px) {

    .casino {
        margin: 0 auto;
    }

    .smallbox-3 {
        padding: 17px;
    }

}

@media (max-width: 860px) {

    .navigation {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: 2px;
    }

    .navigation.active {
        display: block;
    }

    .navigation ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .home1 {
        line-height: 50px;
    }

    .toggle {
        display: block;
    }

    .fa-bars {
        display: block;
        margin-top: 30px;
    }
    
    .casino {
        margin: 0 auto;
    }
    
    .formbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .buy-gta5 {
        display: none;
    }
}



@media (max-width: 650px) {

    .smallbox-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 12px;
    }

    .wheelp {
        margin-top: 10px;
    }
}

@media (max-width: 630px) {

    .smallbox-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px;
    }

    .introp {
        margin-top: 10px;
    }
}



@media (max-width: 623px) {

    .own {
        text-align: center;
    }
}

@media (max-width: 426px) {

    .formbox-1 {
        margin-top: 50px;
    } 

}

@media (max-width: 404px) {
 
    .fa-twitch {
        margin-top: 20px;
        margin-right: 50px;
    }

}

@media (max-width: 374px) {
    .fa-instagram {
        margin-top: 18px;
    }
}