
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


/* Header */    



.backgroundbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000000;
    background-image: -o-linear-gradient(bottom, #000000 0%, #646464 74%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(74%, #646464));
    background-image: linear-gradient(360deg, #000000 0%, #646464 74%);    
    background-repeat: no-repeat;
    background-size: auto;
}

.firstbigbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.fa-bars {
    display: none;
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    cursor: pointer;
} 


.rockstar {
    max-width: 150px;
    width: 100%;
}

.navigation {
    margin-top: 50px;
}


.ul1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.li {
    margin-right: 20px;
}

.home1 {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-bottom-width: 1px;
    -webkit-box-shadow: inset 0 0 0 0 #414141;
            box-shadow: inset 0 0 0 0 #414141;
    padding: 9px 18px;
    font-size: 18px;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.32s ease-out;
    -o-transition: all 0.32s ease-out;
    transition: all 0.32s ease-out;
}

.h1 {
    font-size: 72px;
    color: black;
    font-family: 'Pricedown Bl';
    text-align: center;
    margin-bottom: 150px;
    margin-top: 150px;
}

.sponsorbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px;
}

.unreal {
    max-width: 200px;
    width: 100%;
}

.unitylogo {
    max-width: 200px;
    width: 100%;
}

.frostbite {
    max-width: 200px;
    width: 100%;
}


/* Section I */



.news {
    font-size: 54px;
    font-family: 'Pricedown Bl';
    color: black;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 5px;
}


.backgroundbox2 {
    background-color: #f5d020;
    background-image: -o-linear-gradient(bottom, #a6ff00 0%, #ff6600 74%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a6ff00), color-stop(74%, #ff6600));
    background-image: linear-gradient(360deg, #a6ff00 0%, #ff6600 74%);
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.smallbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    width: 95%;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.smugglers {
    max-width: 600px;
    width: 100%;
}

.fortextbox {
    width: 95%;
    margin-top: 15px;
    margin-left: 20px;
}

.arenah4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: orangered;
    margin-top: 3px;
}

.arenap1 {
    color: rgb(129, 129, 129);
    font-family: 'Heebo', sans-serif;
    margin-top: 10px;
    font-size: 18px;
}

.arenap2 {
    color: rgb(129, 129, 129);
    margin-top: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
}

.arenap3 {
    color: rgb(129, 129, 129);
    margin-top: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
}

.carnage {
    color: orangered;
}

.flagwar {
    color: orangered;
}

.smallbox2 {
    background-color: rgb(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    width: 95%;
    margin-left: 5%;
    margin-top: 100px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.stunt {
    color: rgb(51, 128, 0);
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.stuntp1 {
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    color: rgb(129, 129, 129);
    margin-bottom: 10px;
}

.stuntp2 {
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    color: rgb(129, 129, 129);
    margin-right: 10px;
}

.stunt-race {
    max-width: 600px;
    width: 100%;
}

.fortextbox2 {
    width: 100%;
    margin-top: 7px;
    padding-left: 16px;
}

.sun-sea {
    color: green;
}

.tight {
    color: green;
}


/* Section II */



.relatedbox {
    margin-top: 200px;
    margin-bottom: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }



/* Relatedbox1 */

.deadline {
    margin-left: 5px;
    border-radius: 10px;
    max-width: 416px;
    width: 100%;
}

.gta-online {
    font-family: 'Heebo', sans-serif;
    margin-top: 10px;
    margin-left: 21px;
}

.triple-rewards {
    font-family: 'Heebo', sans-serif;
    max-width: 416px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.datebox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.date {
    color: rgb(90, 90, 90);
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}

/* Relatedbox2 */

.previon {
    border-radius: 10px;
    max-width: 416px;
    width: 100%;
}

.karin-previon {
    font-family: 'Heebo', sans-serif;
    max-width: 416px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Relatedbox3 */

.cypher {
    border-radius: 10px;
    margin-right: 5px;
    max-width: 416px;
    width: 100%;
}

.available {
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    max-width: 416px;
    width:100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}


/* Backgroundbox3 */

.backgroundbox3 {
    background-color: #fefefe;
    background-image: -o-linear-gradient(135deg, #fefefe 0%, #00a4e4 74%);
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    width: 100%;
}

.smallbackgroundbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.mansionbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
}

.mansion {
    max-width: 316px;
    width: 100%;
}

.leave {
    max-width: 316px;
    width: 100%;
    margin-top: 3px;
    color: white;
    font-family: 'Heebo', sans-serif;
}

.the {
    margin-top: 70px;
    font-size: 40px;
    margin-left: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.pericobox {
    background-color: rgb(0, 0, 0, 0.5);
}

.elrubio {
    margin-left: 5px;
    margin-bottom: 2px;
    max-width: 430px;
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: white;
}

.smallbackgroundbox2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bigpicbox {
    background-color: rgb(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

.picbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 50px;
}

.gold {
    max-width: 300px;
    width:100%;
    margin-bottom: 50px;
    margin-left: 5px;
}

.diamond {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
}

.textbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 580px;
    width: 100%;
    margin-top: 10px;
    background: rgb(0, 0, 0, 0.6);
}

.treasuretext {
    margin-top:  20px;
    font-size: 21px;
    font-family: 'Heebo', sans-serif;
    color: white;

}

.cash {
    color: green;
    font-family: 'Heebo', sans-serif;
}

.gold {
    color: orange;
}

.stash {
    color: orangered;
}

.upto {
    color: greenyellow;
}



/* Section IV */




.adnews {
    margin-top: 100px;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 100px;
}

.adbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.gta6 {
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.gta5h {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    margin-top: 10px;
    margin-left: 30px;
}

.coming {
    font-family: 'Heebo', sans-serif;
    font-size: 28px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.date1 {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    color: rgb(90, 90, 90);
    margin-left: 28px;
}

.premium {
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.date2 {
    color:rgb(90, 90, 90);
    font-family: 'Heebo', sans-serif; 
    margin-left: 28px;
    font-size: 14px;

}


/* Section V */


.backgroundbox4 {
    background-color: #923cb5;
    background-image: -o-linear-gradient(bottom, #511569 0%, #15001d 74%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#511569), color-stop(74%, #15001d));
    background-image: linear-gradient(0deg, #511569 0%, #15001d 74%);
    width: 100%;
    margin-top: 100px;
    padding: 20px;
}

.diamondcasinobox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 150px;
}

.fa-gembox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 30%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.fa-gem {
    font-size: 30px;
    color: purple;
}

.diamondh {
    font-size: 32px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(129, 0, 129);
}

.choose {
    margin-bottom: 50px;
    margin-top: 150px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: rgb(88, 0, 88);
}

.approachbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 150px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.loudbox {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 30px;
    padding-bottom: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.silentbox {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 30px;
    padding-bottom: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.bigconbox {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding-bottom: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.loud {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 400px;
    width: 100%;
}

.stealth {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 400px;
    width: 100%;
}

.bigcon {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 400px;
    width: 100%;
}

.loudh {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(184, 0, 0);
}

.silenth {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: darkblue;
}

.bigconh {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: darkorange;
}

.loudp {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    max-width: 400px;
    width: 100%;
    color: #7B7B7C;
}

.gunfights {
    color: rgb(184, 0, 0);
}

.stealthspan {
    color: darkblue;
}

.disguise {
    color: darkorange;
}

.engage {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    color: rgb(88, 0, 88);
    margin-left: 10px;
}

.bigbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.smallbox-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 40px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
}

.intro {
    border-radius: 40px;
    margin-right: 15px;
}

.introp {
    max-width: 400px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(75, 75, 75);
    text-align: center;
    margin-bottom: 10px;
}

.introp1 {
    max-width: 400px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(75, 75, 75);
    text-align: center;
}

.dheist {
    color: rgb(136, 0, 136);
}

.smallbox-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(0, 0, 0, 0.4);
    border-radius: 40px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding-left: 10px;
}

.wheel {
    border-radius: 40px;
    margin-left: 15px;
}

.wheelp {
    font-family: 'Montserrat', sans-serif;
    color: rgb(75, 75, 75);
    margin-left: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.wheelp1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(75, 75, 75);
    max-width: 400px;
    text-align: center;
    margin-left: 10px;
}

.lucky {
    color: purple;
}

.smallbox-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgb(0, 0, 0, 0.4);
    max-width: 780px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.casino {
    border-radius: 50px;
}

.textbox4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.missionh {
    font-size: 26px;
    font-family: 'Heebo', sans-serif;
    color: rgb(153, 0, 153);
    margin-top: 5px;
    text-align: center;
}

.libox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.li1box {
    margin-right: 15px;
}

.list {
    margin-top: 14px;
    font-family: 'Heebo', sans-serif;
    color: purple;
}

.own {
    margin-left: 15px;
    font-size: 38px;
    margin-bottom: 80px;
    color: rgb(100, 0, 100);
    font-family: 'Montserrat', sans-serif;
}

.buildbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.room {
    border-radius: 6px;
    margin-bottom: 55px;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}



/* Section VII */



.exploreh {
    font-family: 'Pricedown Bl';
    width:100%;
    font-size: 52px;
    margin-top: 150px;
    margin-left: 5px;
    margin-bottom: 150px;
}

.explorebox {
    background-color: rgb(40, 40, 43);
    width: 100%;
    padding-bottom: 20px;
}

.arrivals {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 30px;
    color: white;
    padding-top: 70px;
}

.arrivalsbox {
    margin-bottom: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.casebox {
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    padding-bottom: 40px;
    margin-top: 20px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.case {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.caseh {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-top: 30px;
    color: rgb(226, 226, 226);
    font-size: 14px;
}

.price {
    text-align: center;
    margin-top: 15px;
    color: rgb(226, 226, 226);
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
}

.tunnersbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.6);
    margin-bottom: 200px;
}

.tunners {
    max-width: 500px;
    width: 100%;
}

.tunnerstextbox {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

.rockstargames {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    color: rgb(73, 73, 73);
    margin-bottom: 7px;
}

.presents {
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    color: rgb(59, 59, 59);
}

.gta5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: silver;
}

.nowavailable {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: orangered;
    margin-top: 50px;
}

.carsavailable {
    margin-bottom: 40px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
}

.carbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gtbox {
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    padding-bottom: 5px;
}

.gt {
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.gth {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    color: cadetblue;
}

.gtp {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 18px;
    color: cadetblue;
}

.buybox {
    background: rgb(0,153,255);
    background: -o-linear-gradient(bottom, rgba(0,153,255,1) 0%, rgba(0,16,255,1) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,153,255,1)), to(rgba(0,16,255,1)));
    background: linear-gradient(0deg, rgba(0,153,255,1) 0%, rgba(0,16,255,1) 100%);
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.buya {
    color: black;
}

.hijakbox {
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    padding-bottom: 5px;
}

.adderbox {
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
    padding-bottom: 5px;
}

.suggested {
    margin-bottom: 40px;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.gamesbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.game {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rdrh {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
}



/* Section VIII */



.buynow {
    margin-top: 100px;
    text-align: center;
    font-family: 'Pricedown Bl';
    font-size: 50px;
    margin-bottom: 100px;
}


/* Form I */


.formbox {
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 200px;
}

.platformbox {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.platformclass {
    font-size: 16px;
    padding: 6px;
    border: 1px solid rgb(0, 0, 0) !important;
    border-radius: 3px;
    font-family: 'Titillium Web', sans-serif;
}

.platformclass:focus {
    outline: none;
} 

.platform1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.editionbox {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.marketbox {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.dlcbox {
    margin-bottom: 30px;
}

.buy-gta5 {
    margin-right: 200px;
    margin-top: 10px;
    border-radius: 10px;
}

.stockBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    color: green;
}

.button {
    max-width: 340px;
    width: 100%;
    font-size: 26px;
    border-color: rgb(184, 184, 184);
    border-radius: 3px;
    line-height: 40px;
    font-family: 'Titillium Web', sans-serif;
}

.button:focus {
    outline: none;
}



/* Section IX */


.section9 {
    background-color:#7c7c7c1e;
    padding-bottom: 20px;
    padding-top: 10px;
}

.cont {
    margin-left: 5px;
    font-family: 'Pricedown Bl';
    font-size: 52px;
    margin-top: 80px;
    margin-bottom: 100px;
}


/* Forms II */


.bigformbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 300px;
}

.smallformbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 800px;
    width: 100%;
}

.textclass {
    font-size: 16px;
    padding: 6px;
    font-family: 'Titillium Web', sans-serif;
    max-width: 800px;
    width: 100%;
    margin-top: 2px;
    border: 1px solid #e2e2e2;
    outline-color: white;
}

.fnameclass {
    margin-bottom: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
} 

.lnameclass {
    margin-top: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.countryclass {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

.countryselect {
    max-width: 800px;
    font-size: 11px;
    width: 100%;
    padding: 6px;
    margin-top: 2px;
    border: 1px solid #e2e2e2;
    outline-color: white;
}

.textareaclass {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    
}

.textareabox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 800px;
    width: 100%;
    height: 200px;
    resize: none;
    margin-top: 2px;
    font-size: 11px;
    border: 1px solid #e2e2e2;
}

.textareabox:focus {
    outline: none;
}

.errorMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: rgb(255, 0, 64);
}

.ng-dirty {
    border-color:  rgb(255, 0, 64);
}

.ng-valid {
    border-color: rgb(0, 167, 0);
}

.goRed {
    border-color: rgb(255, 0, 64); 
} 


.button2 {
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
}



/* Footer */



.socialbox {
    background-color:  #171717;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.fa-youtube {
    font-size: 30px;
    margin-right: 50px;
    color:white;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fa-facebook {
    color: white;
    font-size: 30px;
    margin-right: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fa-twitter {
    font-size: 30px;
    margin-right: 50px;
    color: white;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fa-instagram {
    font-size: 30px;
    margin-right: 50px;
    color: white;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fa-twitch {
    font-size: 30px;
    color: white;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.footer {
    background-color: rgb(53, 53, 53);
    padding-bottom: 20px;
}

.rockstar5 {
    max-width: 50px;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

.rockstarbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.fa-globe {
    font-size: 40px;
    margin-top: 28px;
    margin-right: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.rockstars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 80px;
}

.rockstarh {
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footertextbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.privacya {
    font-family: 'Heebo', sans-serif;
    color: black;
}

.li2 {
    margin-bottom: 10px;
}

.pbox {
    max-width: 178px;
    width: 100%;
    font-size: 10px;
    color: black;
    font-family: 'Heebo', sans-serif;
    text-align: end;
}