<footer class="footer">

    <div class="socialbox">

            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitch"></i>

    </div>

    <div class="rockstarbox">

        <div class="rockstars">

            <img class="rockstar5" src="../assets/rockstar5.png" alt="logo">
            <h6 class="rockstarh">Rockstar Games</h6>
       
        </div>

        <i class="fas fa-globe"></i>

    </div>

    <div class="footertextbox">

        <div class="privacybox">
        
            <ul>

                <li class="li2">
                    <a class="privacya" href="#">Privacy</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Terms Of Use</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Legal Info</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Cookies</a>
                </li>

            </ul>

        </div>

        <div class="helpbox">
            <ul>

                <li class="li2">
                    <a class="privacya" href="#">Rockstar Connect</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Help</a>
                </li>

            </ul>
        </div>

        <div class="pressbox">

            <ul>

                <li class="li2">
                    <a class="privacya" href="#">Investors</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Press</a>
                </li>

            </ul>

        </div>

        <div class="companybox">
           
            <ul>

                <li class="li2">
                    <a class="privacya" href="#">Company</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Careers</a>
                </li>
                <li class="li2">
                    <a class="privacya" href="#">Locations</a>
                </li>

            </ul>

        </div>

        <div class="pbox">
            <p class="p1">
                2021 Rockstar Entertainment. All Rights Reserved. Rockstar, Rockstar.com and the Rockstar logo are trademarks of Rockstar Entertainment in the U.S. and/or other countries.
            </p>
        </div>

    </div>

</footer>