<body>

    <header class="backgroundbox1">

        <div class="firstbigbox">

           <a class="rockstara" href="index.html"><img class="rockstar" src="../assets/rockstar.svg" alt="logo"></a>

            <div class="headerbox">

                <nav class="navigation" [class.active]="active" id="nav">

                    <ul class="ul1">

                        <li class="li">
                            <a class="home1" href="index.html">Home</a>
                        </li>

                        <li class="li">
                            <a class="home1" href="#newspage">News</a>
                        </li>


                        <li class="li">
                            <a class="home1" href="#explore">Explore</a>
                        </li>

                        <li class="li">
                        <a class="home1" href="#order">Order</a>
                        </li>
                        
                        <li class="li">
                            <a class="home1" href="#contactus">Contact</a>
                        </li>

                    </ul>

                </nav>

            </div>
            
            <i class="fas fa-bars" (click)="toggleButton()"></i>

        </div>

                <h1 class="h1">
                    Grand Theft Auto V
                </h1>

                <div class="sponsorbox">

                    <img class="unreal" src="../assets/unreal.svg" alt="logo">
                    <img class="unitylogo" src="../assets/unitylogo.svg" alt="logo">
                    <img class="frostbite" src="../assets/frostbite.svg" alt="logo">

                </div>

    </header>



    <!-- Section I -->



    <section id="newspage">

        <h2 class="news">News</h2>

        <div class="backgroundbox2">
           
            <div class="smallbox1">
                <img class="smugglers" src="../assets/smugglers.png" alt="image">

                <div class="fortextbox">
                    <h4 class="arenah4">Arena War Is Out Now</h4>
                    <p class="arenap1">Welcome to the new era of entertainment. New Arena update assures it's players that it's time for new level of fun: most deranged vehicles, most brutal weapons and the biggest crowds! </p>
                    <p class="arenap3">Introducing: 2 Deadly Arena Events: <span class="carnage">Carnage</span>- No mercy, no disqualification, no safe word. Utilizing a host of new weaponized Bikes, Cars and Trucks, be the last contender standing in an all-out vehicular brawl under the dome of the Maze Bank Arena. <span class="flagwar">Flag War</span> - Two teams, two flags, one objective. The classic capture the flag formula — reworked Arena War style to include enough gasoline-chugging violence to appeal to a mainstream audience.</p>
                </div>
            </div>

            <div class="smallbox2">
               
                <div class="fortextbox2">

                    <h4 class="stunt">New Stunt Races</h4>
                    <p class="stuntp1">There's 2 new Stunt Races making their way to GTA Online this week. motorbikes hurtling around the Palmer-Taylor Power Station at full tilt, these brand-new tracks have a little bit of something for the adrenaline lurking within all of us.</p>
                    <p class="stuntp2"><span class="sun-sea">Sun, Sea, and Chicanes</span> - Experience the majesty of nature as it hurtles by your window in the kind of nauseating blur that’s sure to leave a smile on your face and your dinner on the dashboard. Stunt Race for classic sports cars. <span class="tight">A Tight Spot</span> - Prove once and for all that it’s not just in your head when your scalp gets violently sanded by the tarmac above. Claustrophobics do not apply. Stunt Race for motorcycles.</p>
                
                </div>

                <img class="stunt-race" src="../assets/stunt-race.png" alt="image">

            </div>  

        </div>

        

    </section>



<!-- Section II -->



    <section>

        <div class="relatedbox">

            <div class="relatedbox1">
                <img class="deadline" src="../assets/deadline.png" alt="image">
                <p class="gta-online">GTA Online</p>
                <h5 class=triple-rewards>Triple Rewards on Deadline Events</h5>
                <div class="datebox">   
                    <p class="date">September 23, 2021</p>
                </div>
            </div>

            <div class="relatedbox2">
                <img class="previon" src="../assets/previon.png" alt="image">
                <p class="gta-online">GTA Online</p>
                <h5 class="karin-previon">New This Week: The Karin Previon, A Tuner's Delight</h5>
                <div class="datebox"> 
                    <p class="date">September 9, 2021</p>
                </div>    
            </div>

            <div class="relatedbox3">
                <img class="cypher" src="../assets/cypher.png" alt="image">
                <p class="gta-online">GTA Online</p>
                <h5 class="available">The Übermacht Cypher is Now Available</h5>
                <div class="datebox"> 
                    <p class="date">September 2, 2021</p>
                </div>
            </div>
        
        </div>

    </section>



    <!-- Section III -->
    


    <section>

        <h3 class="adnews">Recent News:</h3>

        <div class="adbox">

            <div class="ps5box">
                <img class="gta6" src="../assets/gta6.png" alt="image">
                <h6 class="gta5h">Grand Theft Auto VI</h6>
                <h4 class="coming">GTA VI Release Date: GTA VI Coming In June, 2022</h4>
                <p class="date1">September 9, 2021</p>    
            </div>

            <div class="premiumbox">
                <img class="premium" src="../assets/premium.png" alt="image">
                <h6 class="gta5h">Grand Theft Auto Online</h6>
                <h4 class="coming">GTA V: Premium Edition Available Free on the Epic Games Store and Steam Until May 21st</h4>
                <p class="date2">May 14, 2021</p>
            </div>

        </div>

    </section> 



    <!-- Section IV -->



    <section>

        <div class="backgroundbox4">

            <div class="diamondcasinobox">
                
                <div class="fa-gembox">
              
                    <i class="fas fa-gem"></i>
                    <i class="fas fa-gem"></i>
                    <i class="fas fa-gem"></i>

                </div>

                <h3 class="diamondh">The Diamond Casino</h3>

                <div class="fa-gembox">

                    <i class="fas fa-gem"></i>
                    <i class="fas fa-gem"></i>
                    <i class="fas fa-gem"></i>

                </div>

            </div>
            
            <h5 class="choose">Choose Your Approach</h5>

                <div class="approachbox">

                    <div class="loudbox">
                        <img class="loud" src="../assets/loud.png" alt="image">
                        <h6 class="loudh">Aggresive</h6>
                        <p class="loudp">Focused Entirely On <span class="gunfights">Gunfight</span></p>
                    </div>

                    <div class="silentbox">
                        <img class="stealth" src="../assets/stealth.png" alt="image">
                        <h6 class="silenth">Silent & Sneaky</h6>
                        <p class="loudp"> Focused On <span class="stealthspan">Stealth</span> Gameplay To Impede Detection From Enemies.</p>
                    </div>

                    <div class="bigconbox">
                        <img class="bigcon" src="../assets/bigcon.png" alt="image">
                        <h6 class="bigconh">The Big Con</h6>
                        <p class="loudp"> Focused On Usage Of <span class="disguise">Disguises</span> To Sort Enemies Easily.</p>
                    </div>

                </div>

                <h4 class="engage">Engage In Activities</h4>

            <div class="bigbox1">

                <div class="smallbox-1">
                    <img class="intro" src="../assets/intro.png" alt="image">

                    <div class="textbox2">
                        <p class="introp">Pull off the most daring robbery in The <span class="dheist">Diamond Casino Heist</span> - now available in GTA Online.</p>
                        <p class="introp1"> Diamond Casino might be under the questionable management of the Duggans, but business is still booming.</p>
                    </div>

                </div>

                <div class="smallbox-2">

                    <div class="textbox3">
                        <p class="wheelp">After purchasing a one-off standard casino membership for $500, the player can spin the wheel freely.</p>
                        <p class="wheelp1">in <span class="lucky">Lucky Wheel</span> players can win an assortment of prizes, as there are 20 spots on the wheel. These are: <span class="lucky">RP</span>, <span class="lucky">Cash</span>,<span class="lucky">Chips</span>, with 20% winning chance.</p>
                        </div>

                    <img class="wheel" src="../assets/wheel.png" alt="image">

                </div>

            </div>

            <div class="smallbox-3">
                
                <img class="casino" src="../assets/casino.png" alt="image">
                
                <div class="textbox4">

                    <h6 class="missionh">New Playable Missions Available</h6>

                        <div class="libox">

                            <div class="li1box">

                                <ul>

                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Badlands Revenge II
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        The Wizard's Ruin
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Race and Chase - Street Legal
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Race and Chase - Crotch Rockets
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Race and Chase - Get Truckin
                                    </li>

                                </ul>

                            </div>

                            <div class="li2box">

                                <ul>

                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Shiny Wasabi Kitty Claw
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Nazar Speaks Fortune Teller
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        The Love Professor
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Defender of the Faith
                                    </li>
                                    <li class="list">
                                        <i class="fas fa-star"></i>
                                        Monkey's Paradise
                                    </li>

                                </ul>
                            
                            </div>
                        
                        </div>

                </div>

            </div>

            <h4 class="own">Build Your Own Penthause</h4>

            <div class="buildbox">

                    <img class="room" src="../assets/viewroom.png" alt="image">
                    <img class="room" src="../assets/movieroom.png" alt="image">
                    <img class="room" src="../assets/lobbyroom.png" alt="image">
                    <img class="room" src="../assets/bedroom.png" alt="image">
                    <img class="room" src="../assets/artroom.png" alt="image">
                    <img class="room" src="../assets/slotroom.png" alt="image">

            </div>

        </div>

    </section>



    <!-- Section V -->



    <section id="explore">

        <h2 class="exploreh">Explore</h2>

        <div class="explorebox">

            <h4 class="arrivals">New Arrivals</h4>

            <div class="arrivalsbox">

                <div class="casebox">
                    <img class="case" src="../assets/case.png" alt="image">
                    <h6 class="caseh">Rockstar Games iPhone Case</h6>
                    <p class="price">9.99$</p>
                </div>

                <div class="casebox">
                    <img class="case" src="../assets/keychain.png" alt="image">
                    <h6 class="caseh">Rockstar Games Keychain</h6>
                    <p class="price">14.99$</p>
                </div>

                <div class="casebox">
                    <img class="case" src="../assets/kubrick.png" alt="image">
                    <h6 class="caseh">GTA V Kubrick Heist Edition</h6>
                    <p class="price">49.95$</p>
                </div>

                <div class="casebox">
                    <img class="case" src="../assets/mousepad.png" alt="image">
                    <h6 class="caseh">iFruit Mousepad</h6>
                    <p class="price">14.95$</p>
                </div>

                <div class="casebox">
                    <img class="case" src="../assets/poster.png" alt="image">
                    <h6 class="caseh">GTA V Poster</h6>
                    <p class="price">19.99$</p>
                </div>

            </div>


            <div class="tunnersbox">

                <div class="tunnerstextbox">
                    <h6 class="rockstargames">ROCKSTAR GAMES <span class="presents">Presents</span></h6>
                    <p class="gta5">Grand Theft Auto V</p>
                    <p class="nowavailable">Los Santos Tunners Is Now Available</p>
                </div>

                <img class="tunners" src="../assets/tunners.png" alt="image">

            </div>

            <h4 class="carsavailable">Cars Available</h4>

            <div class="carbox">

                <div class="gtbox">

                    <img class="gt" src="../assets/gt.png" alt="image">
                    <h6 class="gth">Benefactor GT</h6>
                    <p class="gtp">Purchase Benefactor GT with 25% discount</p>
                    <div class="buybox"><a class="buya" href="#">Buy</a></div>

                </div>

                <div class="hijakbox">

                    <img class="gt" src="../assets/khamelion.png" alt="image">
                    <h6 class="gth">Hijak Khamelion</h6>
                    <p class="gtp">Purchase Khamelion with 2 more paintjobs</p>
                    <div class="buybox"><a class="buya" href="#">Buy</a></div>

                </div>

                <div class="adderbox">
                    
                    <img class="gt" src="../assets/adder.png" alt="image">
                    <h6 class="gth">Truffade Adder</h6>
                    <p class="gtp">Purchase Adder for additional moddifications</p>
                    <div class="buybox"><a class="buya" href="#">Buy</a></div>

                </div>

            </div>

            <h4 class="suggested">Suggested Games</h4>

            <div class="gamesbox">

                <div class="gamebox">
                    <img class="game" src="../assets/rdr2.png" alt="image">
                    <h6 class="rdrh">Red Dead Redemption II</h6>
                </div>

                <div class="gamebox">
                    <img class="game" src="../assets/unity.png" alt="image">
                    <h6 class="rdrh">Assassin's Creed Unity</h6>
                </div>

                <div class="gamebox">
                    <img class="game" src="../assets/farcry.png" alt="image">
                    <h6 class="rdrh">Far Cry 5</h6>
                </div>

                <div class="gamebox">
                    <img class="game" src="../assets/mafia.png" alt="image">
                    <h6 class="rdrh">Mafia II</h6>
                </div>

                <div class="gamebox">
                    <img class="game" src="../assets/watchdogs.png" alt="image">
                    <h6 class="rdrh">Watch Dogs</h6>
                </div>

            </div>

        </div>

    </section>



    <!-- Section VI -->



    <section id="order"> 
        
        <h2 class="buynow">Order</h2>

        <div class="formbox">

            <form action="#" [formGroup]="purchaseForm">

                <div class="platformbox">

                    <label class="platform1" for="platform">Select Your Platform</label>
                    <select formControlName="platform" class="platformclass" name="platform">
                        <option value="pc">PC</option>
                        <option value="xbox">Xbox</option>
                        <option value="playstation 5">Playstation 5</option>
                    </select>

                </div>

                <div class="editionbox">

                    <label class="platform1" for="edition">Select Your Edition</label>
                    <select formControlName="edition" class="platformclass" name="edition">
                        <option value="standart edition">Standart Edition</option>
                        <option value="premium edition">Premium Edition</option>
                    </select>

                </div>

                <div class="marketbox">

                    <label class="platform1" for="market">Select Market</label>
                    <select formControlName="market" class="platformclass" name="market">
                        <option value="rockstargames">Rockstargames</option>
                        <option value="steam">Steam</option>
                    </select>

                </div>

                <div class="dlcbox">

                    <input formControlName="check" type="checkbox" id="dlc" name="dlc1">
                    <label for="dlc">Include DLC's</label>

                </div>

                <div class="stockBox" *ngIf="purchaseForm.status == 'VALID'">
                    <strong>In Stock</strong>
                </div>
                <button class="button" [disabled]="purchaseForm.invalid" (click)="onOrder()">Buy</button>

            </form>

            <img class="buy-gta5" src="../assets/buy-gta5.png" alt="image">

        </div>



    </section>

    <section class="section9" id="contactus">

        <h2 class="cont">Contact Us</h2>

           
            <form action="#" [formGroup]="userForm">
                
                <div class="bigformbox">

                    <div class="smallformbox">
                    
                        <label class="fnameclass" for="fname">First Name</label>
                        <input class="textclass" [class.goRed]="userForm?.errors?.['match'] == true" type="text" name="firstname" placeholder="Your Name..." formControlName="firstName">
                        
                        <div class="errorMessage" *ngIf="userForm.get('firstName')?.touched">
                        <div class="errorMessage" *ngIf="userForm.get('firstName')?.dirty">
                            <strong class="errorMessage" *ngIf="userForm.get('firstName')?.errors?.['required']">{{"box must be filled" | titlecase}}</strong>
                            <strong class="errorMessage" *ngIf="userForm.get('firstName')?.errors?.['minlength']">{{"name must be at least 4 charecters long" | titlecase}}</strong>
                        </div>
                        </div>
                        
                        <label class="lnameclass" for="lname">Last Name</label>
                        <input class="textclass" [class.goRed]="userForm?.errors?.['match'] == true" type="text" name="lastname" placeholder="Your Last Name..." formControlName="lastName">

                        <div class="errorMessage" *ngIf="userForm.get('lastName')?.touched">
                        <div class="errorMessage" *ngIf="userForm.get('lastName')?.dirty">
                            <strong class="errorMessage" *ngIf="userForm.get('lastName')?.errors?.['required']">{{"box must be filled" | titlecase}}</strong>
                            <strong class="errorMessage" *ngIf="userForm.get('lastName')?.errors?.['minlength']">{{"name must be at least 5 charecters long" | titlecase}}</strong>
                            <strong class="errorMessage" *ngIf="userForm?.errors?.['match']">{{"first name and last name shouldn't match" | titlecase}}</strong>
                        </div>
                        </div>

                        <label class="countryclass" for="country">Country</label>
                        <select class="countryselect" name="country" formControlName="country">
                            <option value="austria">Austria</option>
                            <option value="australia">Australia</option>
                            <option value="belgia">Belgia</option>                            
                            <option value="canada">Canada</option>
                            <option value="denmark">Denmark</option>
                            <option value="france">France</option>
                            <option value="germany">Germany</option>
                            <option value="georgia">Georgia</option>
                            <option value="hiddenleafvillage">Hidden Leaf Village</option>
                            <option value='italy'>Italy</option>
                            <option value="unitedstates">United States</option>
                        </select>
                        <div class="errorMessage" *ngIf="userForm.get('country')?.touched">
                        <div class="errorMessage" *ngIf="userForm.get('country')?.errors?.['required']">{{"choose your current location" | titlecase}}</div>
                        </div>
                    </div>

                        
                        <label class="textareaclass" for="textareas">Your Message</label>
                        <textarea class="textareabox" name="textareas" placeholder="Your Message..." formControlName="yourMessage"></textarea>

                        <div class="errorMessage" *ngIf="userForm.get('yourMessage')?.touched">
                        <div class="errorMessage" *ngIf="userForm.get('yourMessage')?.dirty">
                            <strong class="errorMessage" *ngIf="userForm.get('yourMessage')?.errors?.['required']">{{"type your message" | titlecase}}</strong>
                            <strong class="errorMessage" *ngIf="userForm.get('yourMessage')?.errors?.['minlength']">{{"message must be at least 10 charecters long" | titlecase}}</strong>
                        </div>
                        </div>

                        <button class="button2" [disabled]="userForm.invalid" (click)="onSubmit()">Submit</button>

                </div>

            </form>

    </section>



    <!-- Footer -->



    <footer class="footer">

        <div class="socialbox">

                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitch"></i>

        </div>

        <div class="rockstarbox">

            <div class="rockstars">

                <img class="rockstar5" src="../assets/rockstar5.png" alt="logo">
                <h6 class="rockstarh">Rockstar Games</h6>
           
            </div>

            <i class="fas fa-globe"></i>

        </div>

        <div class="footertextbox">

            <div class="privacybox">
            
                <ul>

                    <li class="li2">
                        <a class="privacya" href="#">Privacy</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Terms Of Use</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Legal Info</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Cookies</a>
                    </li>

                </ul>

            </div>

            <div class="helpbox">
                <ul>

                    <li class="li2">
                        <a class="privacya" href="#">Rockstar Connect</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Help</a>
                    </li>

                </ul>
            </div>

            <div class="pressbox">

                <ul>

                    <li class="li2">
                        <a class="privacya" href="#">Investors</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Press</a>
                    </li>

                </ul>

            </div>

            <div class="companybox">
               
                <ul>

                    <li class="li2">
                        <a class="privacya" href="#">Company</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Careers</a>
                    </li>
                    <li class="li2">
                        <a class="privacya" href="#">Locations</a>
                    </li>

                </ul>

            </div>

            <div class="pbox">
                <p class="p1">
                    2021 Rockstar Entertainment. All Rights Reserved. Rockstar, Rockstar.com and the Rockstar logo are trademarks of Rockstar Entertainment in the U.S. and/or other countries.
                </p>
            </div>

        </div>

    </footer>
</body>