<body>
  <header class="backgroundbox1">
    <div class="firstbigbox">
      <a class="rockstara" href="index.html"
        ><img class="rockstar" src="assets/rockstar.svg" alt="logo"
      /></a>

      <div class="headerbox">
        <nav class="navigation" [class.active]="active" id="nav">
          <ul class="ul1">
            <li class="li">
              <a class="home1" href="index.html">Home</a>
            </li>

            <li class="li">
              <a class="home1" href="#newspage">News</a>
            </li>

            <li class="li">
              <a class="home1" href="#explore">Explore</a>
            </li>

            <li class="li">
              <a class="home1" href="#order">Order</a>
            </li>

            <li class="li">
              <a class="home1" href="#contactus">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <i class="fas fa-bars" (click)="toggleButton()"></i>
    </div>

    <h1 class="h1">Grand Theft Auto V</h1>

    <div class="sponsorbox">
      <img class="unreal" src="assets/unreal.svg" alt="logo" />
      <img class="unitylogo" src="assets/unitylogo.svg" alt="logo" />
      <img class="frostbite" src="assets/frostbite.svg" alt="logo" />
    </div>
  </header>

  <!-- Section I & II & III -->

  <app-news-component></app-news-component>

  <!-- Section IV -->

  <app-casino-component></app-casino-component>

  <!-- Section V -->

  <app-explore-component></app-explore-component>

  <!-- Section VI -->

  <app-forms-component></app-forms-component>

  <!-- Footer -->

  <app-footer-component></app-footer-component>
</body>
