<!-- Section I -->

<section id="newspage">
  <h2 class="news">News</h2>

  <div class="backgroundbox2">
    <div class="smallbox1">
      <img class="smugglers" src="assets/smugglers.png" alt="image" />

      <div class="fortextbox">
        <h4 class="arenah4">Arena War Is Out Now</h4>
        <p class="arenap1">
          Welcome to the new era of entertainment. New Arena update assures it's
          players that it's time for new level of fun: most deranged vehicles,
          most brutal weapons and the biggest crowds!
        </p>
        <p class="arenap3">
          Introducing: 2 Deadly Arena Events:
          <span class="carnage">Carnage</span>- No mercy, no disqualification,
          no safe word. Utilizing a host of new weaponized Bikes, Cars and
          Trucks, be the last contender standing in an all-out vehicular brawl
          under the dome of the Maze Bank Arena.
          <span class="flagwar">Flag War</span> - Two teams, two flags, one
          objective. The classic capture the flag formula — reworked Arena War
          style to include enough gasoline-chugging violence to appeal to a
          mainstream audience.
        </p>
      </div>
    </div>

    <div class="smallbox2">
      <div class="fortextbox2">
        <h4 class="stunt">New Stunt Races</h4>
        <p class="stuntp1">
          There's 2 new Stunt Races making their way to GTA Online this week.
          motorbikes hurtling around the Palmer-Taylor Power Station at full
          tilt, these brand-new tracks have a little bit of something for the
          adrenaline lurking within all of us.
        </p>
        <p class="stuntp2">
          <span class="sun-sea">Sun, Sea, and Chicanes</span> - Experience the
          majesty of nature as it hurtles by your window in the kind of
          nauseating blur that’s sure to leave a smile on your face and your
          dinner on the dashboard. Stunt Race for classic sports cars.
          <span class="tight">A Tight Spot</span> - Prove once and for all that
          it’s not just in your head when your scalp gets violently sanded by
          the tarmac above. Claustrophobics do not apply. Stunt Race for
          motorcycles.
        </p>
      </div>

      <img class="stunt-race" src="../assets/stunt-race.png" alt="image" />
    </div>
  </div>
</section>

<!-- Section II -->

<section>
  <div class="relatedbox">
    <div class="relatedbox1">
      <img class="deadline" src="assets/deadline.png" alt="image" />
      <p class="gta-online">GTA Online</p>
      <h5 class="triple-rewards">Triple Rewards on Deadline Events</h5>
      <div class="datebox">
        <p class="date">September 23, 2021</p>
      </div>
    </div>

    <div class="relatedbox2">
      <img class="previon" src="assets/previon.png" alt="image" />
      <p class="gta-online">GTA Online</p>
      <h5 class="karin-previon">
        New This Week: The Karin Previon, A Tuner's Delight
      </h5>
      <div class="datebox">
        <p class="date">September 9, 2021</p>
      </div>
    </div>

    <div class="relatedbox3">
      <img class="cypher" src="assets/cypher.png" alt="image" />
      <p class="gta-online">GTA Online</p>
      <h5 class="available">The Übermacht Cypher is Now Available</h5>
      <div class="datebox">
        <p class="date">September 2, 2021</p>
      </div>
    </div>
  </div>
</section>

<!-- Section III -->

<section>
  <h3 class="adnews">Recent News:</h3>

  <div class="adbox">
    <div class="ps5box">
      <img class="gta6" src="assets/gta6.png" alt="image" />
      <h6 class="gta5h">Grand Theft Auto VI</h6>
      <h4 class="coming">GTA VI Release Date: GTA VI Coming In June, 2022</h4>
      <p class="date1">September 9, 2021</p>
    </div>

    <div class="premiumbox">
      <img class="premium" src="assets/premium.png" alt="image" />
      <h6 class="gta5h">Grand Theft Auto Online</h6>
      <h4 class="coming">
        GTA V: Premium Edition Available Free on the Epic Games Store and Steam
        Until May 21st
      </h4>
      <p class="date2">May 14, 2021</p>
    </div>
  </div>
</section>
